# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/

# expo
.expo/
dist/

# production
build

# misc
.DS_Store
*.pem
*.tsbuildinfo

# env files
.env
.env*.local

# turbo
.turbo

# vercel
.vercel

# supabase
supabase/.temp
